:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}  

a {
  color: black;
  text-decoration: none;
  border-bottom: solid 2px orange;
  padding: 0;
}

a:visited {
  color: black;
}

a:hover, a:active {
  color: orange;
}

h1 {
  margin-bottom: 0.3em;
  line-height: 1.2em;
}

body {
  line-height: 1.8em;
}

.clearfix { clear: both; }

.wrapper {
  max-width: 800px;

  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;

  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 1em;
  margin-bottom: 2em;
}

@media screen and (min-width: 575px) {
  .wrapper {
    margin: auto;
    margin-top: 5em;
  }

  .columns {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    width: 25%;
  }

  .main {
    width: 70%;
  }

  .menu {
    flex-direction: column;
  }
}

.sidebar header {
  font-size: xx-large;
  line-height: 1.2em;
}

.main > :first-child { margin-top: 0 !important; margin-left: 0 !important; }
.main > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

.menu .menu-item {
  text-decoration: none;
  margin: 0.3em;
  font-size: large;
}

.menu .menu-item.active {
  font-weight: bold;
  color: black;
  border-bottom: none;
  font-size: large;
}

.avatar {
  width: 155px;
  height: 155px;
  float: left;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1em;
}

ul.values {
  list-style-type: none;
  padding-left: none;
}
ul.values li {
  padding: 0.5em;
}

.meta {
  margin-top: 0.3em;
  font-weight: 200;
}

pre {
  background-color: #faffff;
  border: 1px solid #ddd;
  padding: 0.8em;
  overflow: scroll;
  border-radius: 6px;
  line-height: 1.3em;
}

pre::-webkit-scrollbar { 
  display: none; 
}

ul, ol {
  margin-left: 1.35em;
}

code {
  border: 1px solid #ddd;
  background-color: #faffff;
  padding: 0 .2em;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

blockquote {
  font-style: italic;
  padding-left: 10px;
}

.postfooter {
  border-top: 1px solid;
  margin-top: 3em;
  font-style: italic;
}

.footer {
  margin-top: 3em;
  text-align: center;
  color: grey;
}
.footer a {
  color: grey;
}

.footer a:visited {
  color: grey;
}
.postfooter {
  border-top: 1px solid;
  margin-top: 3em;
  font-style: italic;
}

.footer {
  margin-top: 3em;
  text-align: center;
  color: grey;
}

.footer a {
  color: grey;
}

.footer a:visited {
  color: grey;
}

.error-card {
  width: 150px;
  height: 150;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: lightCoral;
}

.error-card .error-title {
  font-weight: bold;
  color: crimson;
  border-bottom: none;
}

.loading-card {
  width: 150px;
  height: 150;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-preview {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.post-preview-image {
  height: 80px;
  float: left;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-top: 1em;
}

.post-preview-id {
  font-size: 10px;
  color: rgba(255, 165, 0, 0.5);
}

.post-preview-title {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
  margin-top: 2px;
}

.post-preview-desc {
  font-size: 15px;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.5);
}

.post-preview-date {
  font-size: 15px;
  color: rgba(255, 165, 0, 1);
  text-align: right;
}

.rainbow {
  border-top: 0.5px transparent; 
  height: 0.5px;
  background: linear-gradient(to right, transparent, orange, yellow, orange, transparent);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: orange;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

