:root {
    font-family: arial, helvetica, sans-serif;
    background-color: #09090b;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: arial, helvetica, sans-serif;
    }
}

* {
    background-color: #09090b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #09090b;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.body {
    background-color: #09090b;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #09090b;
    border-radius: 10px;
    text-align: left;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 30px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info h1 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}

.role {
    font-size: 15px;
    color: #9e9e9e;
}

.about-text p,
.bio p {
    margin-bottom: 15px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

li {
    margin-bottom: 6px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

hr.dotted-divider {
    border: none;
    border-top: 4px dotted #4d4d4d;
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #2fc993;
}

a:visited {
    color: #fff;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.links p {
    font-size: 17px;
    color: #2fc993;
}

.links a {
    text-decoration: underline;
    text-decoration-color: #2fc993;
}

h2 {
    color: #fff;
    margin-bottom: 5px;
    margin-top: 15px;
}

.overlay {
  background-color: #09090b;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  background-color: #09090b;
  color: white;
}

.centered-text {
  color: #7F9891;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: calc(80% + 0.8vw);
  background-color: #09090b;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09090b;
}

.text-container .not-found {
  margin: 0;
  font-size: calc(100% + 6vw);
  color: rgba(225, 225, 225, 0.01);
  -webkit-background-clip: text;
  text-align: center;
  font-weight: 900;
  background-color: #09090b;
}
