* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #ffffff;
}

.wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.motto {
    font-family: 'Pirata One', cursive;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    color: #000;
    text-decoration: none;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.links a:hover {
    text-decoration: underline;
    text-decoration-color: #2fc993;
}

.links .dot {
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%;
    margin: 0 16px;
    position: relative;
    top: 2px;
}

.links.small {
    margin-top: 16px;
}

.links.small a {
    font-size: 20px;
    color: #666;
}

.links.small .dot {
    width: 5px;
    height: 5px;
    background-color: #bbb;
}
